[submodule "src/camera/lens/optics"]
	path = src/camera/lens/optics
	url = git@github.com:gillett-hernandez/rust_optics.git
[submodule "crates/rust_optics"]
	path = crates/rust_optics
	url = git@github.com:gillett-hernandez/rust_optics.git
